 .btn-myButton-outline{
    width:182px;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 12px;
    padding: 15px;
    margin: 0 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: white;
  }

  .btn-myButton-btn-primary{
    width:182px;
    box-sizing: border-box;
    background: #D5E5FF;
    border-radius: 12px;
    padding: 15px 30px;
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #302EA7;
  }

.btn-myButton-outline:hover, .btn-myButton-btn-primary:hover{
    border: transparent;
    color: #302EA7;
    background: #FFB5B5 !important;
}