.servicios{
    background: #D5E5FF;
    border-radius: 71px;
    padding: 40px;
}

.unete{
    background: #302EA7;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}